@model Hotel.Models.Staff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="staff_FName" class="control-label"></label>
                <input asp-for="staff_FName" class="form-control" />
                <span asp-validation-for="staff_FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="staff_LName" class="control-label"></label>
                <input asp-for="staff_LName" class="form-control" />
                <span asp-validation-for="staff_LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="staff_Gender" class="control-label"></label>
                <input asp-for="staff_Gender" class="form-control" />
                <span asp-validation-for="staff_Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="de_ID" class="control-label"></label>
                <select asp-for="de_ID" class ="form-control" asp-items="ViewBag.de_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="staff_Position" class="control-label"></label>
                <input asp-for="staff_Position" class="form-control" />
                <span asp-validation-for="staff_Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="staff_Email" class="control-label"></label>
                <input asp-for="staff_Email" class="form-control" />
                <span asp-validation-for="staff_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="staff_Password" class="control-label"></label>
                <input asp-for="staff_Password" class="form-control" />
                <span asp-validation-for="staff_Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="staff_Phone" class="control-label"></label>
                <input asp-for="staff_Phone" class="form-control" />
                <span asp-validation-for="staff_Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="staff_Address" class="control-label"></label>
                <input asp-for="staff_Address" class="form-control" />
                <span asp-validation-for="staff_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
